package templates

import (
	"github.com/plaenen/webx/cmd/dashboard/internal/fragments/login"
	"github.com/plaenen/webx/layouts"
)

templ LoginPage() {
	@layouts.Base(layouts.BaseProps{
		Title:       "Login",
		Description: "Login to your account",
	}) {
		<div class="flex min-h-screen items-center justify-center">
			@login.LoginForm()
		</div>
	}
}
